<div style="text-align:center; position: absolute; top: 0; left: 0; width: 100%; height: 100%;background-color: #e7e7e7;display: flex;align-items: center;justify-content: center;">
  <canvas style="" id="canvasElementId"></canvas>
</div>

<div class="options-list-container">
  <div class="options-list-header">
    <span class="drag-handle">Options</span>
  </div>
  <div class="options-list">
    <button (click)="addRectangle()">Add Rectangle</button>
    <button (click)="addImage()">Add Image</button>
    <button (click)="addVideo()">Add Video</button>
    <button (click)="exportJsonFile()">Export JSON</button>
    <input #fileInput type="file" (change)="loadJsonFile($event)" style="display: none;">
    <button (click)="openFilePicker()">Load JSON</button>
    <!-- add a button to clear the canvas -->
    <button (click)="clearCanvas()">Clear Canvas</button>
  </div>
</div>

<!-- create a list of objects and the zindex position they are in -->
<div class="objects-list-container" 
     (mousedown)="onContainerMouseDown($event)">
  <div class="objects-list-header">
    <span class="drag-handle">⋮⋮</span>
    Layers
  </div>
  <div class="objects-list">
    <div *ngFor="let object of layers; let i = index"
         class="list-item" 
         [class.selected]="i === selectedObjectIndex"
         draggable="true"
         (dragstart)="onDragStart($event, i)"
         (dragover)="onDragOver($event)"
         (dragleave)="onDragLeave($event)"
         (drop)="onDrop($event, i)"
         (click)="onListItemClick(i)">
      <span class="drag-handle">⋮⋮</span>
      {{ object.type }}
    </div>
  </div>
</div>