<div style="text-align:center;">
  <canvas style="width:800px;aspect-ratio:16/9;" id="canvasElementId"></canvas>
</div>
<!-- button import from json -->
<button (click)="openFilePicker()">Import JSON</button>
<input type="file" #fileInput accept=".json" (change)="loadJsonFile($event)" hidden>

<button (click)="exportJsonFile()">Export JSON</button>
<button (click)="addRectangle()">Add Rectangle</button>
<button (click)="addImage()">Add Image</button>
<button (click)="addVideo()">Add Video</button>

<!-- create a list of objects and the zindex position they are in -->
<div class="objects-list-container" 
     (mousedown)="onContainerMouseDown($event)">
  <div class="objects-list-header">
    <span class="drag-handle">⋮⋮</span>
    Objects List
  </div>
  <div class="objects-list">
    <div *ngFor="let object of layers; let i = index"
         class="list-item" 
         [class.selected]="i === selectedObjectIndex"
         draggable="true"
         (dragstart)="onDragStart($event, i)"
         (dragover)="onDragOver($event)"
         (dragleave)="onDragLeave($event)"
         (drop)="onDrop($event, i)"
         (click)="onListItemClick(i)">
      <span class="drag-handle">⋮⋮</span>
      {{ object.type }}
    </div>
  </div>
</div>